langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
langchain-openai==0.1.21
langchain-huggingface==0.0.3
sentence-transformers
faiss-cpu
streamlit
pandas==2.2.2
python-dotenv~=1.1.1
requests==2.32.4

